<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.authenticate.AuthenticationActivity"
            android:exported="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:screenOrientation="portrait"
            android:theme="@style/LoyaltySdkTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/login_host"
                    android:path="@string/login_path"
                    android:scheme="@string/login_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>